body,
html {
  padding: 0;
  margin: 0;
}

.fuck-doc {
  display: flex;
  background-color: rgba(235,235,235);

  .menu-content {
    min-width: 300px;
    height: 100vh;
    padding: 20px;
    padding-left: 30px;

    .title-wrapper {
      width: 100%;
      height: 135px;

      .title {
          font-size: 40px;
          font-weight: 600;
      }
      
      .desc {
          font-weight: 200;
          font-size: 18px;
      }
    }

    .menu {
        .menu-item {
            height: 40px;
            margin-bottom: 10px;
            font-size: 20px;
            color: rgb(150, 149, 149);
            cursor: pointer;
            font-weight: 300;

            &:hover {
                color: black;
            }
        }

        .active {
          color: black;
          font-weight: 400;
        }
    }
  }

  .card-content {
    flex: 1;
  }
}